*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:white;
    color:#333;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 6%;
    background: #EFE9DE;
    position:sticky;
    top:0;
    z-index:999;
    transition:.3s;
    height: 80px;
    padding: 0 6%;
}

.navbar.sticky{
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    height: auto;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#3A2D28;
    transition:.3s;
    font-weight:700;
}

.nav-links a:hover{
    color:#4F6F52;
}

.search-box{
    background:white;
    border:2px solid #D6D3CC;
    border-radius:999px;
    padding:12px 130px;
    display:flex;
    align-items:center;
    gap:5px;
    transition:all .3s ease;
    padding-left: 15px;
}

.search-box i{
    color:#6B6B6B;
    font-size:16px;
    transition:.3s;
}

.search-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
    background:transparent;
}

/* Kondisi Hover (gambar kedua) */
.search-box:hover{
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    border-color:#BEB9AF;
}

/* Kondisi Aktif / Sedang Diketik (gambar ketiga) */
.search-box:focus-within{
    border-color:#4F6F52;
    box-shadow:none;
}

.search-box:focus-within i{
    color:#4F6F52;
}

.search-box input::placeholder{
    color:#BEB9AF;
    font-weight:500;
    font-size:14px;
}

.search-box input{
    border:none;
    background:none;
    outline:none;
    width:100%;
    margin-left:10px;
}

.nav-icons{
    display:flex;
    gap:20px;
    font-size:18px;
    cursor:pointer;
}

.book-section{
    width:90%;
    margin:40px auto;
    display:grid;
    grid-template-columns:300px 1fr;
    gap:40px;
    align-items:start;
}

.book-cover{
    display:flex;
    flex-direction:column;
    align-self:start;
}

.book-cover img{
    width:100%;
    max-width: 300px;
    height:auto;
    display:block;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:.4s;
}

.book-cover img:hover{
    transform:scale(1.04);
}

.tags{
    margin-top:15px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.tags span{
    display:inline-block;
    padding:10px 18px;
    border-radius:999px;
    cursor:pointer;
    transition:.3s;
    font-weight:600;
}

.best{
    background:#4F6F52;
    color: #fff;
}

.best:hover{
    background:#fff;
    color:#567A58;
    box-shadow:0 8px 15px rgba(0,0,0,.12);
}

.nonfiksi{
    background:#ECE3CE;
    color:#3A2D28;
}

.nonfiksi:hover{
    background:#3A2D28;
    color:#ECE3CE;
    box-shadow:0 8px 15px rgba(0,0,0,.12);
}

.stock{
    background:#DDEEDF;
    color:#2E7D32;
}

.stock:hover{
    background:#2E8B3C;
    color:#DDEEDF;
    box-shadow:0 8px 15px rgba(0,0,0,.12);
}

.book-info{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.book-info h1{
    font-size:38px;
    color : #3A2D28;
}

.author{
    margin-top:10px;
    color:#777;
}

.rating{
    margin-top:15px;
}

.price{
    font-size:35px;
    font-weight:bold;
    color:#4F6F52;
    margin:20px 0;
}

.price span{
    color:#999;
    text-decoration:line-through;
    font-size:18px;
    margin-left:10px;
}

.description{
    line-height:1.8;
    color:#5C524B;
}

.buttons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.cart-btn,
.buy-btn,
.wish-btn{
    border:none;
    cursor:pointer;
    transition:.3s;
}

.cart-btn{
    padding:12px 20px;
    border:1.5px solid #4F6F52;
    background:#fff;
    border-radius:12px;
    cursor:pointer;
    transition:all .3s ease;
    font-weight:bold;
}

.cart-btn:hover{
    color:#4F6F52;
    border-color:#4F6F52;
    box-shadow:0 6px 12px rgba(91,123,92,.25);
}

.buy-btn{
    padding:12px 25px;
    background:#4F6F52;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:all .3s ease;
    font-weight:bold;
}

.buy-btn:hover{
    background:#3E5A41;
    box-shadow:0 6px 12px rgba(71,100,72,.35);
}

.wish-btn{
    width:52px;
    height:52px;

    background:#fff;
    border:1.5px solid #6B6B6B;
    border-radius:12px;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;
    transition:all .3s ease;
}

.wish-btn i{
    color:#6B6B6B;
    transition:.3s;
}

.wish-btn:hover{
    border-color:#C75B5B;
    box-shadow:0 6px 12px rgba(217,91,91,.20);
}

.wish-btn:hover i{
    color:#C75B5B;
}

.detail-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.detail-card{
    background:#fafafa;
    border:1px solid #eee;
    border-radius:12px;
    padding:15px;
    display:flex;
    gap:10px;
    transition:.3s;
}

.detail-card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}


.sinopsis,
.reviews{
    width:90%;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.sinopsis h2{
    margin-bottom:20px;
}

.review-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.review-head button{
    background:#2f8f46;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
}

.review-card{
    border:1px solid #eee;
    padding:20px;
    border-radius:15px;
    margin-bottom:15px;
    transition:.3s;
}

.review-card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.review-user{
    display:flex;
    align-items:center;
    gap:15px;
}

.review-user img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.stars{
    margin:15px 0;
}

footer{
    margin-top:50px;
    background:white;
    padding:40px 8%;
}

.footer-content{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:40px;
}

.footer-content ul{
    list-style:none;
}

.footer-content li{
    margin-top:10px;
}

.copyright{
    text-align:center;
    margin-top:30px;
    color:#777;
}

.fade{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:900px){

    .book-section{
        grid-template-columns:1fr;
    }

    .detail-grid{
        grid-template-columns:1fr;
    }

    .footer-content{
        grid-template-columns:1fr;
    }

    .navbar{
        flex-wrap:wrap;
        gap:15px;
    }

    .search-box{
        width:100%;
    }
}

/* =========================
   Toast Notification
========================= */

.toast{
    position:fixed;
    top:30px;
    right:30px;

    background:#2f8f46;
    color:white;

    padding:15px 20px;

    border-radius:12px;

    display:flex;
    align-items:center;
    gap:10px;

    transform:translateX(120%);
    transition:.4s;

    z-index:9999;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.show-toast{
    transform:translateX(0);
}

/* =========================
   Wishlist Active
========================= */

.wish-btn.active{
    background:#ffebee;
}

.wish-btn.active i{
    color:#e53935;
}

/* =========================
   Buy Button Success
========================= */

.buy-btn:disabled{
    opacity:.8;
    cursor:not-allowed;
}